
.destinationMessage {
  -fx-text-fill: white;

  -fx-font-size: 19px;
  -fx-padding: 40 0 0 40;
}

.leaveText {
  -fx-text-fill: #A0A0A0;
  -fx-font-size: 16px;
}

.leaveText-Title {
  -fx-font-weight: bold;
}

.noStationsError {
  -fx-font-weight: bold;
  -fx-padding: 5px 20px;
  -fx-text-fill: #a90202;
}

.originTitle {
  -fx-text-fill: white;
  -fx-font-size: 14;
  -fx-padding: 1 30 2 0;
}

.originLine {
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-padding: 2 10 2 10;
}

.planJourneyButton {
  -fx-background-color: #282828;
  -fx-text-fill: #E0E0E0;
  -fx-border-color: #3A3A3A;
  -fx-border-radius: 8px;
  -fx-font-size: 14px;
  -fx-padding: 5px 20px;
}

.planJourneyButton:hover {
  -fx-background-color: #383838;
  -fx-border-color: #3992d2;
  -fx-cursor: hand;
}

.planJourneyButton:pressed {
  -fx-background-color: #4A4A4A;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 8, 0.5, 0, 2);
}

.planJourneyButton:disabled {
  -fx-background-color: #2A2A2A;
  -fx-text-fill: #6E6E6E;
}

.tflLogo {
  -fx-translate-x: 25px;
}

.topTitleBar {
  -fx-background-color: #2d3039;
}

.stationComboBox {
  -fx-background-color: #404040;
  -fx-text-fill: #E0E0E0;
  -fx-pref-width: 280px;
  -fx-pref-height: 35px;
  -fx-prompt-text-fill: #E0E0E0;
  -fx-font-size: 16px;
}

.stationComboBox .combo-box-display-node {
  -fx-text-fill: #E0E0E0;
}

.stationComboBox .list-cell {
  -fx-text-fill: #E0E0E0;
  -fx-background-color: #404040;
}